<header>

<!-- navbar -->
  <nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <p class="navbar-text">{{ site.subtitle }}</p>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if site.searchable %}
      <script type="text/javascript" src="{{"/static/js/jquery-tapir.min.js" | prepend:site.baseurl}}"></script>
      <form class="navbar-form navbar-right" role="search" action="search.html">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="搜一下吧" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">Go</span>
        </div>
      </form>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">

        {% if page.url == "/index.html" %}
          <li class="active">
          {% else %}
          <li>
        {% endif %}
          <a href="{{ site.baseurl }}/"><span class="glyphicon glyphicon-th-list"></span> 文章</a></li>

        {% for p in site.pages %}
          {% if p.title && p.published != false %}
            {% if p.url == page.url %}
              <li class="active">
              {% else %}
              <li>
            {% endif %}
            <a href="{{ p.url | prepend: site.baseurl }}"><span class="glyphicon {{ p.icon }}"></span> {{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>